DATABASE_URL_CATALOG=postgresql://user:password@host:port/cinema_catalog
DATABASE_URL_USERS=postgresql://user:password@host:port/cinema_users
DATABASE_URL_BOOKING=postgresql://user:password@host:port/cinema_booking

JWT_SECRET=
JWT_ALGORITHM=HS256

# CORS
# Local (Docker):      ["http://localhost:5173"]
# Producción (Render): ["https://cinemaplusui.netlify.app"]
BACKEND_CORS_ORIGINS=

REDIS_URL=redis://user:password@host:port

DEBUG=false

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=cinema

KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_API_KEY=
KAFKA_API_SECRET=

PYTHON_VERSION=3.12
